<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
  <nav>
    <% if (user) { %>
        <div>Welcome, <%= user.name %> </div>
        <a href="/users/<%= user._id %>">Profile Page</a>
		<a href="/logout"><i class="material-icons left"></i>Log Out</a><br>
        <% } %>
        <a href="/index">Back to Home Page</a><br>
        <a href="/routes/">All Routes</a>
  </nav>
  <main>
      <div id="top"></div>
    <h1><%= title %></h1>