<%- include('./partials/header') %>

<div class="frontGrid">
	<div class="titleDiv"><h1>Climber's Journal</h1></div>
	<img class="frontImage" src="/images/splash.jpeg" alt="Man in front of mountain">
</div>



<%- include('./partials/footer') %>